.postsBlockWrapper {
  width: 100%;
}

.homeLoaderInPostsBlock {
  width: 100%;
  display: flex;
  margin: 20px 20px 100px 20px;
  justify-content: center;
  z-index: 9;
}

.homeLoaderInPostsBlock > * {
  position: static;
}
