@import"../../../Constants/queries.scss";
.photosForPostUpload{
    background-color: var(--dropZone);
    border: 3px dashed var(--black);
    margin: 10px 0px;
    height: auto;
}

.photosBlockForPostPreview{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.photosForPostInput{
    width: 100%;
    display: flex;
    justify-content: center;
}

.photosForPostPreview{
    width: 46%;
    box-sizing: border-box;
    border: 10px solid var(--white);
    transition: all ease 1.5s;
    margin: 1px;
}

.photosForPostPreview:hover{
    border-color: var(--mainRed);
    border-radius: 10px;
}


@media screen and (max-width: $preTablet) {
    .photosForPostPreview{
        width: 99%;
    }
}