@import "../../../Constants/queries.scss";

.closeAlert {
  margin-left: 15px;
  border-radius: 15px;
  color: var(--white);
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
}

.alertBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.background {
  width: 100vw;
  height: 100vh;
  opacity: 0.7;
  background-color: var(--black);
}

.alert {
  position: absolute;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
  background-color: var(--secondRed);
  color: var(--white);
  margin-bottom: 15px;
  width: 30%;
} 

@media screen and (max-width: $prePhone) {
  .alert {
    width: 60%;
  }
}

@media screen and (max-width: $phone) {
  .alert {
    width: 66%;
  }
}

.closeAlert:hover {
  color: var(--black);
}

.success {
  background-color: var(--errorGreen);
}
.error {
  background-color: var(--errorRed);
}
