@import"../../../Constants/queries.scss";

.postCard {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 25px;
  border-radius: 15px;
  margin: 20px 0px;
}

.showCommentsText {
  width: 100px;
}

.postPhotos{
  width: 30%;
  margin: 0% 1.5%;
}

.postPhotosBlock{
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

@media screen and (max-width: $preTablet) {
  .postPhotos{
    width: 48%;
    margin: 0% 1%;
  }
}

@media screen and (max-width: $tablet) {
  .postPhotos{
    width: 98%;
    margin: 0% 1%;
  }
}

.enlargedPhotoBlock{
  width: 80%;
  height: 80%;
  // box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  // object-fit: cover;
  z-index: 1;
}

@media screen and (min-width: $miniDesktop) {
  .enlargedPhotoBlock{
    width: 60%;
  }
}

.enlargedPhoto{
  object-fit:contain;
  width: 100%;
  height: 100%;
}

.postAuthorInfoBlock {
  display: flex;
  align-items: center;
}

.postInfoTextBlock {
  margin-left: 20px;
}
// $phone: 420px;
// $prePhone: 500px;
// $tablet: 670px;
// $preTablet: 840px;
// $miniLaptop: 1100px;
// $laptop: 1300px;
// $miniDesktop: 1500px;
.postDate {
  font-size: 13px;
}

.postAuthorPic {
  border-radius: 100%;
  width: 60px;
  height: 60px;
}

.showCommentsText > svg {
  margin-left: 5px;
  cursor: pointer;
}

.postInfoBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonsForUserPostsBlock {
  border: 2px solid var(--black);
  background-color: var(--black);
  position: absolute;
  margin: 8px 0px 0px -6px;
}

.buttonsForUserPostsBlock button {
  width: 80px;
  height: 30px;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

.buttonsForUserPostsBlock div {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.buttonsForUserPostsBlock a {
  text-decoration: none;
}

.postBody {
  white-space: pre-wrap;
}

.loaderInPostCard {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loaderInPostCard > * {
  position: static !important;
}

.postCardContentBlock > * {
  word-wrap: break-word;
}
