.blockName {
  font-weight: 700;
  font-size: 21px;
}

.profilePageAnnouncementsEmptySection {
  font-size: 20px;
  font-weight: 600;
}

.profilePageAnnouncementsBlock {
  width: 100%;
}

.profilePageAnnouncementsName {
  font-weight: 700;
  font-size: 21px;
}
